schema/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="encviz">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="chart_path" type="xs:string"/>
        <xs:element name="meta_path" type="xs:string"/>
        <xs:element name="style_path" type="xs:string"/>
        <xs:element name="tile_size" type="xs:integer"/>
        <xs:element name="scale_base" type="xs:float"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
