schema/style.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- RGB or ARGB hex color code -->
  <xs:simpleType name="color_code">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Fa-f]{3}|[0-9A-Fa-f]{4}|[0-9A-Fa-f]{6}|[0-9A-Fa-f]{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Simple Style -->
  <xs:complexType name="simple_style">
    <xs:sequence>
      <xs:element name="fill_color" type="color_code" minOccurs="0"/>
      <xs:element name="line_color" type="color_code" minOccurs="0"/>
      <xs:element name="line_width" type="xs:integer" minOccurs="0"/>
      <xs:element name="marker_size" type="xs:integer" minOccurs="0"/>
      <xs:element name="text_color" type="color_code" minOccurs="0"/>
      <xs:element name="text_font" type="xs:string" minOccurs="0"/>
      <xs:element name="text_size" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Cutoff Style -->
  <xs:complexType name="cutoff_style">
    <xs:sequence>
      <xs:element name="value" type="xs:integer"/>
      <xs:element name="style" type="simple_style"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Simple Layer Styling -->
  <xs:complexType name="layer_style">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="style" type="simple_style"/>
      <xs:element name="cutoff_attr" type="xs:string"/>
      <xs:element name="cutoff" type="cutoff_style" minOccurs="0" maxOccurs="unlimited"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="style">
    <xs:complexType>
      <xs:sequence>

        <!-- Optional background, defaults to transparent if not set -->
        <xs:element name="background" minOccurs="0" type="color_code"/>
        <xs:element name="layer" type="layer_style" maxOccurs="unbounded"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
